/* 
.App {
  text-align: center;
  width: 80vw;
  margin: auto;
}

.Header {
  color: rgb(243, 157, 59);
  text-shadow: 1px 1px 5px rgb(30, 62, 136);
  font-size: 4rem;
} */

/* write your parent styles in here for your App.js */

/* 
.halfBlack {
  background: rgba(14, 11, 11, 0.2);
  width: 60%;
  margin: auto;
}

.characterDiv {
  font-size: 2rem;
  margin: 5%;
  padding: 2.5%;
  border: solid rgb(57, 19, 119) 2px;
  color: rgb(239, 179, 241);
} */
